:root {
	--bg1: #000;
	--bg2: #000;
	--bg3: #333;
	--fg1: #fff;
	--fg2: #858585;
	--fg3: #c900ff;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Graphik";
	font-size: 15px;
	height: 100vh;
	background-color: var(--bg1);
}

.button {
	all: unset;
	cursor: pointer;
	// border-radius: 6px;
	padding: 10px 20px;
}

header {
	.content {
		font-family: "nasalization";
		padding: 0 12%;
		display: flex;
		align-items: center;
		background-color: var(--bg3);

		nav {
			z-index: 1;
			margin: 0 50px;

			li {
				display: inline-block;
				&:hover {
					transition: all 130ms ease-in-out;
					transform: translateY(-3px);
				}

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}

	.button {
		color: var(--fg1);

		&:hover {
			transition: all 130ms ease-in-out;
			transform: translateY(-3px);
			text-shadow: 3px 3px 4px var(--bg1);
			color: var(--fg3);
			filter: brightness(1.5);
		}
	}

	.icon {
		color: var(--fg1);
		font-size: 20px;
		margin-left: 50px;
	}

	.logo {
		margin: 8px 0;
		height: 48px;
	}

	.search-bar {
		flex: 1;
		form {
			margin: 0 auto;
			width: 400px;
			font-family: "graphik";
			background-color: var(--fg2);
			border-radius: 5px;
		}

		input {
			all: unset;
			color: var(--fg1);
		}

		::placeholder {
			width: 100%;
			color: var(--fg1);
		}

		button {
			all: unset;
			transform: scaleX(-1);
			border-radius: 5px;
			padding: 5px 8px;
			height: 100%;
			color: var(--fg1);
			font-size: 1.2em;

			&:hover {
				background-color: var(--bg2);
			}
		}
	}

	.line {
		height: 10px;
		background-color: var(--fg3);
	}
}

#burger-icon {
	display: none;
}

#main {
	text-align: center;
	margin-top: 10vh;
	background-color: #000;
	h1,
	h2,
	p {
		color: var(--fg1);
	}

	h1 {
		font-size: 2.5em;
	}

	.choices {
		justify-content: center;
		display: flex;
		margin: 10vh auto;
		max-width: 90%;

		> div {
			padding: 20px 0;
			.text {
				padding: 50px;
			}
			display: flex;
			justify-content: space-between;
			border-radius: 30px;
			text-align: start;
			width: 50vw;
			margin: 0 8%;
			background-color: var(--bg3);
			h2 {
				font-size: 2.5em;
				font-weight: 500;
			}
			p {
				margin-top: 30px;
				font-weight: 300;
				font-size: 1.2em;
			}
			img {
				margin-right: -70px;
				align-self: flex-end;
			}
		}
	}
}

@media (max-width: 1200px) {
}

@media (max-width: 600px) {
	#burger-icon {
		width: 27px;
		height: 22px;
		position: absolute;
		top: 24px;
		left: 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
	}

	#burger-icon div {
		border-radius: 10px;
		height: 4px;
		background-color: var(--fg1);
		transition: all 170ms ease;
		transform-origin: left;
	}

	#burger-icon.nav-open .line1 {
		transform: translate(3px, 0px) rotate(45deg);
	}

	#burger-icon.nav-open .line2 {
		transform: translateX(-10px);
		opacity: 0;
	}

	#burger-icon.nav-open .line3 {
		transform: translate(3px, 1px) rotate(-45deg);
	}

	header {
		.content {
			flex-direction: column;

			nav {
				background-color: var(--bg3);
				transform: scale(1, 0);
				transform-origin: top;
				transition: transform 130ms ease-in-out;
				border-bottom: 1px solid #ffffff;

				&.nav-open {
					transform: scale(1, 1);
				}

				li {
					text-align: center;
					width: 100vw;
					border-top: 1px solid #ffffff;

					a {
						display: block;
						opacity: 0;
					}
				}
			}
		}

		.icon,
		.search-bar {
			display: none;
		}
	}

	@keyframes nav-link-fade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
