:root {
	--bg1: #000;
	--bg2: #000;
	--bg3: #333;
	--fg1: #fff;
	--fg2: #858585;
	--fg3: #c900ff;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Graphik";
	font-size: 15px;
	height: 100vh;
	background-color: var(--bg1);
}

.btn {
	all: unset;
	cursor: pointer;
	// border-radius: 6px;
	padding: 10px 20px;
}

header {
	.content {
		font-family: "nasalization";
		padding: 0 12%;
		display: flex;
		align-items: center;
		background-color: var(--bg3);

		li {
			font-size: 1.1em;

			&:hover {
				transition: all 130ms ease-in-out;
				transform: translateY(-3px);
			}
		}
	}

	.btn {
		color: var(--fg1);

		&:hover {
			transition: all 130ms ease-in-out;
			transform: translateY(-3px);
			// text-shadow: 0 2px 0 var(--fg3);
			color: var(--fg3);
			filter: brightness(1.5);
		}
	}

	#profile {
		font-size: 25px;
		margin-left: 50px;
	}

	#header-logo {
		margin: 18px 0;
	}

	#search-bar {
		// display: flex;
		// justify-content: space-between;
		font-family: "graphik";
		background-color: var(--fg2);
		border-radius: 5px;
		width: 25%;

		input {
			all: unset;
			color: var(--fg1);
		}

		::placeholder {
			width: 100%;
			color: var(--fg1);
		}

		button {
			all: unset;
			transform: scaleX(-1);
			border-radius: 5px;
			padding: 8px 10px;
			height: 100%;
			color: var(--fg1);

			&:hover {
				background-color: var(--bg2);
			}
		}
	}

	#header-line {
		height: 10px;
		background-color: var(--fg3);
	}
}

header nav {
	z-index: 1;
	flex: 1;
	margin-left: 60px;
}

header nav li {
	display: inline-block;
}

header nav li:not(:last-child) {
	margin-right: 10px;
}

header .icon {
	font-size: 30px;
	color: var(--fg1);
}

#sobre-nos {
	margin: 40px 70px 0 70px;
}

#sobre-nos div {
	display: flex;
	align-items: center;
}

#sobre-nos div:not(:last-child) {
	margin-bottom: 100px;
}

#sobre-nos div:nth-child(even) {
	justify-content: flex-end;
}

#sobre-nos .text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#sobre-nos div:nth-child(even) .text {
	align-items: flex-end;
	text-align: right;
}

#sobre-nos img {
	width: 40%;
	height: 100%;
	margin-right: 50px;
}

#sobre-nos div:nth-child(even) img {
	margin-right: 0;
	margin-left: 50px;
}

#sobre-nos p {
	color: var(--fg1);
}

#sobre-nos h2 {
	color: var(--fg1);
	margin-bottom: 20px;
}

#burger-icon {
	visibility: hidden;
}

#main {
	text-align: center;
	margin-top: 10vh;
	background-color: #000;
	h1,
	h2,
	p {
		color: var(--fg1);
	}

	h1 {
		font-size: 2.5em;
	}

	#choices {
		justify-content: center;
		display: flex;
		margin: 10vh auto;
		max-width: 90%;

		> div {
			padding: 20px 0;
			.text {
				padding: 50px;
			}
			display: flex;
			justify-content: space-between;
			border-radius: 30px;
			text-align: start;
			width: 50vw;
			margin: 0 8%;
			background-color: var(--bg3);
			h2 {
				font-size: 2.5em;
				font-weight: 500;
			}
			p {
				margin-top: 30px;
				font-weight: 300;
				font-size: 1.2em;
			}
			img {
				margin-right: -70px;
				align-self: flex-end;
			}
		}
	}
}

#slideshow {
	display: flex;
	align-items: center;
	position: absolute;
	inset: 0;
	margin: auto 0 auto 15%;
}

#slideshow h1 {
	font-size: 60px;
	font-weight: lighter;
	margin: 24px 0 15px;
	color: var(--fg1);
}

#slideshow p {
	font-size: 20px;
	color: var(--fg2);
}

#slideshow .style-btn {
	display: inline-block;
	font-weight: 600;
	font-size: 13px;
}

#slideshow .text {
	z-index: 1;
}

#slideshow .feature-img {
	position: absolute;
	right: 0;
	width: 60%;
	-webkit-mask-image: linear-gradient(90deg, transparent, black);
	mask-image: linear-gradient(90deg, transparent, black);
}

.arrow-icons {
	margin-top: 40px;
}

.arrow-icons i {
	font-size: 20px;
}

.arrow-icons button {
	margin-right: 25px;
	background-color: transparent;
	border: none;
}

.arrow-icons .disabled-btn {
	color: var(--fg2);
}

.arrow-icons .style-btn {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.style-btn {
	color: var(--bg1);
	background: linear-gradient(135deg, var(--bg2), var(--fg1));
	box-shadow: 3px 8px 22px #1c1c1cee;
}

@media (max-width: 1200px) {
	#social-links {
		display: none;
	}
}

@media (max-width: 600px) {
	#burger-icon {
		width: 27px;
		height: 22px;
		position: absolute;
		top: 38px;
		left: 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		visibility: visible;
	}

	#burger-icon div {
		border-radius: 10px;
		height: 4px;
		background-color: var(--fg1);
		transition: all 170ms ease;
		transform-origin: left;
	}

	#burger-icon.nav-open .line1 {
		transform: translate(3px, 0px) rotate(45deg);
	}

	#burger-icon.nav-open .line2 {
		transform: translateX(-10px);
		opacity: 0;
	}

	#burger-icon.nav-open .line3 {
		transform: translate(3px, 1px) rotate(-45deg);
	}

	header {
		flex-direction: column;
		overflow-x: hidden;
	}

	header .icon {
		display: none;
	}

	header nav {
		margin: 0;
		background-color: var(--bg3);
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform 130ms ease-in-out;
		border-bottom: 1px solid #ffffff;
	}

	header nav.nav-open {
		transform: scale(1, 1);
	}

	header nav li {
		text-align: center;
		width: 100vw;
		margin: 0 !important;
		border-top: 1px solid #ffffff;
	}

	header nav li a {
		display: block;
		padding: 15px 0 !important;
		opacity: 0;
	}

	@keyframes nav-link-fade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
