:root {
	--bg1: #000;
	--bg2: #000;
	--bg3: #333;
	--fg1: #fff;
	--fg2: #858585;
	--fg3: #c900ff;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Graphik";
	font-size: 15px;
	height: 100vh;
	background-color: var(--bg1);
}

.button {
	all: unset;
	cursor: pointer;
	padding: 10px 20px;
}

header .content {
	font-family: "nasalization";
	padding: 0 12%;
	display: flex;
	align-items: center;
	background-color: var(--bg3);
}
header .content nav {
	z-index: 1;
	margin: 0 50px;
}
header .content nav li {
	display: inline-block;
}
header .content nav li:hover {
	transition: all 130ms ease-in-out;
	transform: translateY(-3px);
}
header .content nav li:not(:last-child) {
	margin-right: 10px;
}
header .button {
	color: var(--fg1);
}
header .button:hover {
	transition: all 130ms ease-in-out;
	transform: translateY(-3px);
	text-shadow: 3px 3px 4px var(--bg1);
	color: var(--fg3);
	filter: brightness(1.5);
}
header .icon {
	color: var(--fg1);
	font-size: 20px;
	margin-left: 50px;
}
header .logo {
	margin: 8px 0;
	height: 48px;
}
header .search-bar {
	font-family: "graphik";
	background-color: var(--fg2);
	border-radius: 5px;
	flex: 1;
}
header .search-bar input {
	all: unset;
	color: var(--fg1);
}
header .search-bar ::placeholder {
	width: 100%;
	color: var(--fg1);
}
header .search-bar button {
	all: unset;
	transform: scaleX(-1);
	border-radius: 5px;
	padding: 5px 8px;
	height: 100%;
	color: var(--fg1);
	font-size: 1.2em;
}
header .search-bar button:hover {
	background-color: var(--bg2);
}
header .line {
	height: 10px;
	background-color: var(--fg3);
}

#burger-icon {
	display: none;
}

#main {
	text-align: center;
	margin-top: 10vh;
	background-color: #000;
}
#main h1,
#main h2,
#main p {
	color: var(--fg1);
}
#main h1 {
	font-size: 2.5em;
}
#main .choices {
	justify-content: center;
	display: flex;
	margin: 10vh auto;
	max-width: 90%;
}
#main .choices > div {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	border-radius: 30px;
	text-align: start;
	width: 50vw;
	margin: 0 8%;
	background-color: var(--bg3);
}
#main .choices > div .text {
	padding: 50px;
}
#main .choices > div h2 {
	font-size: 2.5em;
	font-weight: 500;
}
#main .choices > div p {
	margin-top: 30px;
	font-weight: 300;
	font-size: 1.2em;
}
#main .choices > div img {
	margin-right: -70px;
	align-self: flex-end;
}

@media (max-width: 600px) {
	#burger-icon {
		width: 27px;
		height: 22px;
		position: absolute;
		top: 24px;
		left: 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
	}

	#burger-icon div {
		border-radius: 10px;
		height: 4px;
		background-color: var(--fg1);
		transition: all 170ms ease;
		transform-origin: left;
	}

	#burger-icon.nav-open .line1 {
		transform: translate(3px, 0px) rotate(45deg);
	}

	#burger-icon.nav-open .line2 {
		transform: translateX(-10px);
		opacity: 0;
	}

	#burger-icon.nav-open .line3 {
		transform: translate(3px, 1px) rotate(-45deg);
	}

	header .content {
		flex-direction: column;
	}
	header .content nav {
		background-color: var(--bg3);
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform 130ms ease-in-out;
		border-bottom: 1px solid #ffffff;
	}
	header .content nav.nav-open {
		transform: scale(1, 1);
	}
	header .content nav li {
		text-align: center;
		width: 100vw;
		border-top: 1px solid #ffffff;
	}
	header .content nav li a {
		display: block;
		opacity: 0;
	}
	header .icon,
header .search-bar {
		display: none;
	}

	@keyframes nav-link-fade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}